<div class="entrance_form__wrapper position-absolute {{hide}}" data-form={{type}}>
	<div class="p-4 ps-4 rounded-2 bg-info entrance_form  d-flex flex-column">
		<h3 class="m-0">{{title}}</h3>
		{% if type == 'login' %}
			{{ form_start(user, {'attr': {'class': 'form_wrapper', 'action': 'login'}}) }}
			{{ form_errors(user) }}
			<div class="flex-column d-flex gap-3 mt-3">
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<div class="form__line">
						Hello, you are authorized but you are blocked.
					</div>
				{% else %}
					<div class="form__line">
						<label for="username" class="form__label">Email:</label>
						<input type="text" id="username" name="_username" class="form-control">
					</div>
					<div class="form__line">
						<label for="password" class="form__label">Password:</label>
						<input type="password" id="password" name="_password" class="form-control">
					</div>
					<div class="form__line">
						<button class="btn btn-primary" type="submit">Login</button>
					</div>
				{% endif %}
			</div>
			{{ form_end(user) }}
			<div class="d-flex align-items-center justify-content-end mt-3">
				<span class="entrance_form__change_view" data-goto="login">No accont? Sign up!</span>
			</div>
		{% else %}
			{{ form_start(user_details, {'attr': {'class': 'form_wrapper' }}) }}
			{{ form_errors(user_details) }}
			{{ form_widget(user_details, {'attr': {'class': 'd-flex flex-column gap-3 mt-3'}}) }}
			{{ form_end(user_details) }}
			<div class="d-flex align-items-center justify-content-end mt-3">
				<span class="entrance_form__change_view" data-goto="registration">Do you have account? Sign in!</span>
			</div>
		{% endif %}

	</div>
</div>
